<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre | Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c7aabfb6d5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="login">
    <header class="home__header">
        <div>
            <img src="/images/logo-mercado-liebre.svg" alt="logo de Mercado Liebre" height='100' width='200'>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar productos, marcas">
         </div> 
         <div>
          <button->
            <a href=""></a><i class="fas fa-search"></i>
          </button->
        </div>
        <div class="header__div__compra">
            <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
        </div>
        <nav class="header__nav">
            <ul>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendas-oficiales">Tiendas oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>
        </nav>
        <nav class="header__nav">
            <ul id="loguin">
                <li><a href="/crea-tu-cuenta">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/ingresa">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/mis-compras">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burguer-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    
</body>
</html>