.formulario {
    width: 50%;
    border: 1px solid var(--GrisOscuro);
    border-radius: 0.6rem;
    margin: 2rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formulario__estilo {
    margin: 1rem 1rem;
}

.formulario__input {
    border: none;
    border-bottom: 1px solid var(--GrisOscuro);
    background-color: #ffffff;
    display: block;
}

.formulario__estilo--radio {
    display: flex;
}

.formulario__estilo--checkbox {
    
}