:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --GrisOscuro: #666;
    --GrisClaro: #ebebeb;
    --Verde: #39b54a;
    --AmarilloOscuro: #b99a10;

    --Familia: 'Roboto', sans-serif;

    --CuerposDeTexto: 12px;
    --Titulares: 24px; /* Basado en la última visita/Ofertas */
    --Precios: 18px;
    --Descuentos: 16px;
    --Descripciones: 16px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--Familia);
}

body {
    background-color: var(--GrisClaro);
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style: none;
}