.home__header {
    background-color: var(--Amarillo);
    width: 100%;
}

.home__header img {
    width: 150px;
    margin: 10px 20px;
}

.home__header__div--busqueda {
    margin-top: 10px;
    margin-left: 20px;
}

.home__header__div--busqueda input {
    width: 45%;
}

.home__header__div--busquedaIcono i{
    margin-left: 20px;
    background-color: var(--GrisClaro);
    padding: 2px;
    border: 1px solid #000000;
    margin-bottom: 20px;
    border-radius: 3px;
}

.home__header__div--iconoCuotasTarjetas {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.home__header__nav {
    padding-bottom: 20px;
    display: none;
}

.home__header__nav ul {
    margin-bottom: 10px;
}

.home__header__div--iconoMenu {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 20px;
    color: #ffffff;
}

.home__header__div--iconoMenu i {
    background-color: var(--Celeste);
    padding: 6px;
    border-radius: 4px;
}

/* TABLET */
@media (min-width: 361px) {
    .home__header__nav {
        display: block;
    }
    .home__header__div--iconoMenu {
        display: none;
    }
}

/* DESKTOP */
@media (min-width: 769px) {
    
}