.home__main {
    width: 90%;
    margin: 0px auto;
}

.home__main__banner img{
    width: 100%;
}

.home__main__section__article {
    margin-bottom: 10px;
}

.home__main__section__article--imagen img {
    width: 100%;
}

.home__main__section__article--detalleProducto {
    background-color: #ffffff;
}

.home__main__section__article--conjunto {
    border-top: 1px solid #dbdbdb;
    padding: 15px;
}

.home__main__section__article--detalleProducto h5 {
    padding: 15px;
    color: var(--GrisOscuro);
    display: none;
}

.home__main__section__article--conjunto i {
    color: var(--Verde);
    padding: 3px;
    padding-bottom: 15px;
    padding-right: 10px;
    border-radius: 50%;
    border: 1px solid var(--Verde);
}

.home__main__section__article__conjunto--descuento {
    color: var(--Verde);
}

/* TABLET */
@media (min-width: 361px) {
    .home__main__section__article--imagen img {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .home__main__section__article--detalleProducto {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .home__main__section__article--detalleProducto h5 {
        display: block;
    }
}

/* DESKTOP */
@media (min-width: 769px) {
    
}