body {
    font-family: 'Roboto';
    background-color: #EAC926;
}

.burguer-menu {
    display: block;
    margin: auto;
    font-size: 30px;
    padding: 4px 10px;
    background-color: #03264c;
    border-radius: 5px;
    color: #ffffff;
    width: 25px;
    align-items: center;
    justify-content: center;
}
.home__main{
    width: 90%;
    margin: 0 auto;
}

.home__main img {
    padding-top: 15px;
}

.home__main__section{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.home__main__section h2 {
    font-size: 24px;
}

.home__main__section article{
    border-top: 1px solid #ebebeb;
    background-color: #ebebeb;
    padding: 15px;
    margin-bottom: 10px;
}

.home__main__section article img{
    max-width: 100%;
    height: auto;
}

.home__main__section__article__price {
    font-size: 18px;
    margin-bottom: 5px;
}

.home__main__section__article__OFF {
    font-size: 16px;
    margin: 5px 0;
}

.home__main__section__article__description {
    font-size: 16px;
    margin-top: 5px;
}

.home__main__section__articles a{
  color: green;
  border: 1px solid green;
  border-radius: 100%;
  padding: 1%;
} 


@media (min-width: 361px) {
    .article container {
        box-shadow: 0px 0px 10px rgb(100, 100, 100); 
    }
}


@media (max-width: 360px) {
  
    .home__main__section__article__description {
        display: none;
    }
}


@media (min-width: 361px) {
    .mobile-header {
        display: none; 
    }
    .hamburguesa-icon {
        display: none; 
    }
}

@media (max-width: 769px) {
    .tablet-desktop-header {
        display: none; 
    }
}
