.home__main {
    width: 90%;
    margin: 0px auto;
}

.home__main__banner img{
    width: 100%;
}

.home__main__section__article {
    margin-bottom: 10px;
    width: 98%;
    margin: auto;
}

.home__main__section__article img {
    width: 100%;
}

.home__main__section__article--producto {
    position: relative;
    background-color: #ffffff;
    margin-bottom: 10px;
}

.home__main__section__article i {
    color: var(--Verde);
    border: 1px solid var(--Verde);
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.home__main__section__article--detalleProducto {
    background-color: #ffffff;
}

.home__main__section__article--producto--detalle {
    border-top: 1px solid #dbdbdb;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.home__main__section__article--producto--descripcion h5 {
    padding: 15px;
    color: var(--GrisOscuro);
    display: none;
}

.home__main__section__article--producto--detalle p {
    width: 30%;
}

.home__main__section__article--producto--detalle--descuento {
    color: var(--Verde);
    width: 70%;
}

/* TABLET */
@media (min-width: 361px) {
    .home__main__section {
        display: flex;
        flex-wrap: wrap;
    }

    .home__main__section__article {
        width: 50%;
    }
    
    .home__main__section__article--imagen img {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    .home__main__section__article--detalleProducto {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    .home__main__section__article--producto--descripcion h5 {
        display: block;
    }
}

/* DESKTOP */
@media (min-width: 769px) {
    .home__main__section {
        display: flex;
        flex-wrap: wrap;
    }

    .home__main__section__article {
        width: 24%;
    }

    .home__main h3 {
        display: block;
    }

    .home__main__section__article--producto--detalle p {
        font-size: 0.7rem;
    }
    
    .home__main__section__article--producto--detalle--descuento {
        font-size: 0.7rem;
        margin-left: 5px;
    }
}